.links-wrap {
  a {
    background-color: #000;
    transition: .3s;
    &.linkedin {
      background-color: #0976B4;
      &:hover {
        box-shadow: 0 4px 7px 0 rgba(9,118,180,0.20);
      }
    }
    &.upwork {
      background-color: #6FDA44;
      &:hover {
        box-shadow: 0 4px 7px 0 rgba(111,218,68,0.20);
      }
    }
    &.behance {
      background-color: #1769FF;
      &:hover {
        box-shadow: 0 4px 7px 0 rgba(23,105,255,0.20);
      }
    }
    &.drible {
      background-color: #EA4C89;
      &:hover {
        box-shadow: 0 4px 7px 0 rgba(234,76,137,0.20);
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    @media(max-width: 767px) {
      margin-top: 24px;
    }
  }
  a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 10px;
    &:hover {
      transition: .3s;
    }
  }
}


.content {
  padding-top: 70px;
  @media(max-width: 767px) {
    padding-top: 24px;
  }
  .title {
    font-size: 48px;
    color: #242633;
    letter-spacing: 0;
    line-height: 55px;
    font-weight: bold;
    margin-bottom: 16px;
    @media(max-width: 767px) {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 8px;
    }
    span {
      color: #E83588;
    }
  }
  .subtitle {
    font-size: 18px;
    color: #242633;
    letter-spacing: 0;
    @media(max-width: 767px) {
      font-size: 15px;
    }
  }
}

body {
  background: url('../img/dots.svg');
  background-size: 90%;
  background-position: 0 470px;
}

.portfolio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 120px;
  @media(max-width: 992px) {
    justify-content: center;
  }
  .wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
    width: 530px;
    height: 398px;
    @media(max-width: 1200px) {
      width: 400px;
      height: 300px;
    }
    @media(max-width: 992px) {
      width: 500px;
    }
    @media(max-width: 767px) {
      width: 100%;
      height: 360px;
    }
    @media(max-width: 500px) {
      height: 265px;
    }
  }
  .inner {
    cursor: pointer;
    margin-top: 70px;
    @media(max-width: 992px) {
      margin-top: 50px !important;
    }
    @media(max-width: 767px) {
      width: 100%;
      margin-top: 24px !important;
    }
    &:focus {
      outline: -webkit-focus-ring-color auto 0px;
    }
    &:hover {
      .image {
        transition: .3s;
        transform: scale(1.03);
        &:focus {
          outline: -webkit-focus-ring-color auto 0px;
        }
      }
    }
    &:focus {
      outline: -webkit-focus-ring-color auto 0px;
    }
    .image {
      background-size: cover !important;
      background-position: center center !important;
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: .3s;
      &:focus {
        outline: -webkit-focus-ring-color auto 0px;
      }
    }
  }
  .portfolio-name {
    font-size: 24px;
    color: #242633;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
    margin: 24px 0 0;
    @media(max-width: 767px) {
      font-size: 20px;
    }
  }
  .portfolio-type {
    font-size: 16px;
    color: #242633;
    letter-spacing: 0;
    text-align: center;
    margin: 0px;
    @media(max-width: 767px) {
      font-size: 15px;;
    }
  }
}
